<!--**********************************
        MENU START
    ***********************************-->
<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>

            <li><a href="/employee/list/contract" class="menu-item"><i class="fas fa-file-contract"></i><span
                        class="nav-text">Hợp đồng</span></a></li>
            <li><a href="/employee/list/expired-contract" class="menu-item"><i class="fas fa-calendar-times"></i><span
                        class="nav-text">Hợp đồng hết hạn</span></a></li>
        </ul>
    </div>
</div>
<!--**********************************
        MENU END
    ***********************************-->

<!--**********************************
        Content body start
    ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi! Welcome back</h4>
                </div>
            </div>
        </div>
        <!-- row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title title-custom">Danh sách hợp đồng hết hạn</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered verticle-middle table-responsive-sm">
                                <thead>
                                    <tr>
                                        <th class="id-contract-col" scope="col">Mã hợp đồng</th>
                                        <th class="id-partner-col" scope="col">Mã đối tác</th>
                                        <th class="name-partner-col" scope="col">tên đối tác</th>
                                        <th class="expired-time-col" scope="col">Thời gian hiệu lực</th>
                                        <th class="action-col" scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    {{#each contract}}
                                    <tr>
                                        <td>
                                            <div class="id-contract-col">{{contractId}}</div>
                                        </td>
                                        <td>
                                            <div class="id-partner-col">{{partnerId}}</div>
                                        </td>
                                        <td>
                                            <div class="name-partner-col">{{namePartner}}</div>
                                        </td>
                                        <td>
                                            <div class="expired-time-col">{{convertDate expiredTime}}</div>
                                        </td>
                                        <td>
                                            <div class="action-col">
                                                <button type="button" id=""
                                                    class="mr-4 btn btn-primary" title="extend-contract">Gia
                                                    hạn</button>
                                                <button type="button" class="mr-4 btn btn-danger" data-toggle="modal" data-target=".confirm-remove-contract-modal">Xóa</button>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Extend Contract Time Modal HTML -->
    <div id="extendContract" class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cập nhật thời gian hiệu lực và phần trăm hoa hồng </h4>
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="extendContractForm">
                        <div class="col-sm-8 form-group">
                            <label class="form-label">Thời gian hiệu lực hợp đồng</label>
                            <input type="date" class="form-control" name="expired-time-contract" value="">
                        </div>
                        <div class="col-sm-8 form-group">
                            <label class="form-label">Phần trăm hoa hồng</label>
                            <input type="number" class="form-control" name="commission-percentage" value="" required>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-success confirm-btn" value="Lưu thay đổi">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal HTML -->
    <div id="successModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="fa fa-check"></i>
                    </div>
                    <h4 id="successTitle" class="modal-title w-100">Success</h4>
                </div>
                <div class="modal-body">
                    <div id="successMsg" class="text-center">Property has added to database.</div>
                </div>
                <div class="modal-footer">
                    <button id="success-modal-btn" class="btn btn-success btn-block">OK</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- Error modal HTML --}}
    <div id="errorModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 id="errorTitle" class="modal-title w-100">Sorry!</h4>
                </div>
                <div class="modal-body">
                    <p id="errorMsg" class="text-center">Your transaction has failed. Please go back and try again.</p>
                </div>
                <div class="modal-footer">
                    <button id="error-modal-btn" class="btn btn-danger btn-block">OK</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- confirm delete modal HTML --}}
    <div class="modal fade confirm-remove-contract-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa hợp đồng</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>×</span>
                    </button>
                </div>
                <div class="modal-body">Bạn có chắc chắn xóa hợp đồng này? </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Quay lại</button>
                    <button type="button" class="btn btn-primary">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

</div>


<!--**********************************
        Content body end
    ***********************************-->



</div>