<div class="container">
    <div class="container-fluid">
        <div class="d-flex justify-content-center">
            <h2>DANH SÁCH SẢN PHẨM</h2>
        </div>
        <div class=" mt-4 row justify-content-md-center">
            <div class="col-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên sản phẩm</th>
                            <th scope="col">Loại sản phẩm</th>
                            <th scope="col">Giá sản phẩm</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Laptop Vivobook A15</td>
                            <td>Thiết bị điện tử</td>
                            <td>23,000,000 VND</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Thêm vào giỏ hàng</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Bàn phím DareU EK-87</td>
                            <td>Phụ kiện điện tử</td>
                            <td>500,000 VND</td>
                            <td><button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Sữa rữa mặt Cetaphil</td>
                            <td>Sản phẩm làm đẹp</td>
                            <td>450,000 VND</td>
                            <th><button type="button" class="btn btn-primary">Thêm vào giỏ hàng</button></th>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">centered
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>